<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/EMS.svg" alt="" width="50" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/departments']" routerLinkActive="router-link-active" >Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="router-link-active" >Employees</a>
          </li>
        </ul>
       <div> <button class="btn primary-btn" (click)="api.logout()">Logout</button></div>
      </div>
    </div>
  </nav>

  <div class="container mt-3 h-custom">
    <div class="row gy-2">
        <div class="col-12" *ngIf="api.getAllEmployeeLoad">
            <div class="row gy-0 h-custom align-items-center justify-content-center">
                <div class="col-12 col-md-4 text-center">
                    <img src="../../assets/loading.svg" alt="" height="350" class="img-fluid">
                    <div class="fs-6"><span class="primary-text fs-bold">Fetching</span> your Employee Record.</div>
                    <div class="spinner-border text-primary mt-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="!api.getAllEmployeeLoad">
            <div class="row h-custom align-items-center justify-content-center"
                *ngIf="api.allEmployees.length===0">
                <div class="col-12 col-md-4 text-center">
                    <img src="../../assets/standout.svg" alt="" height="350" class="img-fluid">
                    <div class="fs-6 my-3">No Departments found in your <span
                            class="primary-text fw-bold">Organization</span>.</div>
                    <div class="fs-6">Add a <span class="primary-text fw-bold">Department</span> to your Organization
                    </div>
                    <button class="btn primary-btn my-3 shadow w-100" [routerLink]="['/department']" routerLinkActive="router-link-active" > Add Employee in department</button>
                </div>
            </div>
            <div class="row gy-2" *ngIf="api.allEmployees.length!=0">
                <div class="col-12 col-md-6 col-xl-4" *ngFor="let i of api.allEmployees">
                    <div class="card shadow p-2">
                        <div class="row align-items-center justify-content-center gy-1">
                            <div class="col-6">
                                <span class="badge primary-bg">{{i.dept_name}}</span>
                            </div>
                            <div class="col-6">
                                <div class="text-secondary float-end">DOJ:{{i.doj}}</div>
                            </div>
                            <div class="col-12 my-3 text-center">
                                <img src="../../assets/male.svg" alt="" height="100" *ngIf="i.gender==='Male'">
                                <img src="../../assets/female.svg" alt="" height="100" *ngIf="i.gender==='Female'">
                            </div>
                            <div class="col-12 text-center">
                                <div class="fw-bold">{{i.employee_name}}</div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="text-secondary">{{i.employee_email}}</div>
                            </div>
                            <div class="col-9 text-center">
                                <span class="badge bg-light text-dark">Role:{{i.role}}</span>
                                <span class="badge primary-bg ml-2"> Exp:{{i.experience}}years</span>
                            </div>
                            <div class="col-9 text-center">
                               
                            </div>
                            <div class="col-12 text-center">
                                <div class="primary-text fw-bold">Salary $:{{i.salary}}</div>
                            </div>
                            <div class="col-12">
                                <button class="btn primary-btn w-100" (click)="deptDetails(i.dept_id)">Commit an action</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>