<div class="container-fluid">
    <div class="row bg-custom align-items-center justify-content-center">
        <div class="col-12 col-md-5">
            <div class="card shadow p-4">
                <div class="text-center my-2 fs-1 fw-bold primary-text">Register</div>
                <div class="my-2">
                    <label for="">Name</label>
                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="Name">
                </div>
                <div class="my-2">
                    <label for="">Email Id</label>
                    <input type="text" class="form-control" placeholder="Email Id" [(ngModel)]="Email">
                </div>
                <div class="my-2">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="Password">
                </div>
                <div class="form-check my-2">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="ischeck"  [ngModelOptions]="{standalone : true}">
                    <label for="" class="form-check-label">I agree to the <span class="link-primary"> terms and conditions</span></label>
                </div>
                <div class="my-2">
                    <button (click)="signUp()" [disabled]="!ischeck" class="btn primary-btn w-100">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>